[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

.DS_Store
.vscode/
.vs/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# --- LLMUnity / モデル / ネイティブを Git から除外 ---
Assets/StreamingAssets/undreamai-v1.2.6-llamacpp/
Assets/StreamingAssets/LLMModels/

# TextMeshPro のでかいフォントアセットは Git に入れない
Assets/Arts/Fonts/*SDF.asset
# macOS
.DS_Store
Assets/.DS_Store
